<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
STUFFF
<p><%= @time %></p>
<ul>
  <% @todos.each do |todo| %>
    <li><%=todo%></li>
  <% end %>
</body>
</html>
